<% layout('layout/boilerplate') %>

<div class="alert alert-danger col-6 offset-3 mt-4 text-center" role="alert">
  <h4 class="alert-heading text-dark fw-bold"><%= err.message %></h4>
  <p>Status Code: <%= err.statusCode %></p>
</div>
